<div class="sub-nav">
  <div class="sub-nav-inner">
    <a href="/marcom/" {% if page.url == '/marcom/' %}class="active"{% endif %}>Vue d'ensemble</a>
    <a href="/marcom/article/" {% if page.url == '/marcom/article/' %}class="active"{% endif %}>L'article</a>
    <a href="/marcom/definitions/" {% if page.url == '/marcom/definitions/' %}class="active"{% endif %}>Définitions</a>
    <a href="/marcom/modele/" {% if page.url == '/marcom/modele/' %}class="active"{% endif %}>Le modèle</a>
    <a href="/marcom/seth-godin/" {% if page.url == '/marcom/seth-godin/' %}class="active"{% endif %}>Seth Godin</a>
    <a href="/marcom/notes/" {% if page.url == '/marcom/notes/' %}class="active"{% endif %}>Notes</a>
  </div>
</div>
